// SPDX-FileCopyrightText: 1997-2023 Open Salamander Authors
// SPDX-FileCopyrightText: 2025-2026 Elias Bachaalany
// SPDX-License-Identifier: GPL-2.0-or-later
//
// Dutch (nl-NL) resources for automation. Translation: Cor van der Smissen, Marco Fung, Patrick Vijgeboom, S.V. (Stephan) Rietveld.
// Translate by editing the text and, if needed, the size/position of controls; keep every ID,
// style and control in the same order as the English source (src/plugins/automation/lang/lang.rc).

#pragma code_page(65001)

#include "..\lang.rh"
#include "winresrc.h"

LANGUAGE LANG_DUTCH, SUBLANG_DUTCH

/////////////////////////////////////////////////////////////////////////////
// Dialogs

IDD_INPUTBOX DIALOGEX 75, 140, 205, 64
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Invoervak"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Prompt:",IDC_PROMPT,8,8,189,8
    EDITTEXT        IDC_INPUTBOX,8,18,189,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",1,48,42,50,14,WS_GROUP
    PUSHBUTTON      "Annuleren",2,107,42,50,14
END

IDD_CONFIG DIALOGEX 75, 140, 332, 143
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Automatisering configuratie"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "&Script mappen:",IDC_DIRLISTHEADER,8,9,67,8
    CONTROL         "",IDC_DIRLIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_EDITLABELS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,8,19,316,73
    CONTROL         "Inschakelen script &foutopsporing",IDC_ENABLEDBG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,102,122,10
    DEFPUSHBUTTON   "OK",IDOK,75,121,50,14,WS_GROUP
    PUSHBUTTON      "Annuleren",IDCANCEL,141,121,50,14
    PUSHBUTTON      "&Help",IDHELP,207,121,50,14
END

/////////////////////////////////////////////////////////////////////////////
// Menus

IDM_BROWSE MENU
BEGIN
    POPUP "[POPUP]"
    BEGIN
        MENUITEM "Bladeren…",                     ID_BROWSE
        MENUITEM SEPARATOR
        MENUITEM "Sally map",        ID_SALDIR
        MENUITEM "Omgevingsvariabele",        ID_ENVVAR
    END
END

/////////////////////////////////////////////////////////////////////////////
// String tables

STRINGTABLE
BEGIN
    IDS_SCRIPTERROR         "Automatisering script fout"
    IDS_LINE                "Regel:\t%u\r\n"
    IDS_COLUMN              "Kolom:\t%u\r\n"
    IDS_ERROR               "Fout:\t%s"
    IDS_RUNFOCUSED          "Uitvoeren geselecteerde script"
    IDS_PROGRESSTITLE       "Bewerkingsstatus"
    IDS_SOURCE              "Bron:\t%s\r\n"
    IDS_SCRIPTPOPUPMENU     "Open script menu"
    IDS_MENUEMPTY           "(geen script)"
    IDS_LOADERRFMT          "Uitvoeren script '%s' mislukt.\r\n%s"
    IDS_UNKERROR            "Onbekende fout."
    IDS_ABORT               "1\t&Afbreken"
    IDS_DEBUGABORT          "1\t&Foutopsporen\t2\t&Afbreken"
    IDS_ADDDIRTITLE         "Script map"
    IDS_ADDDIRDESCR         "Selecteer script bibiliotheekmap."
END

STRINGTABLE
BEGIN
    IDS_PLUGINNAME          "Automatisering"
    IDS_DESCRIPTION         "Automatiseert algemene taken door scripts."
    IDS_ABOUT               "Over plugin"
END

STRINGTABLE
BEGIN
    IDS_E_INVALIDARCHIVE    "Ongeldig archief."
    IDS_E_CANNOTCLOSEPATH   "Huidige pad kan niet worden gesloten."
    IDS_E_SHORTERPATH       "Het pad was afgekapt."
    IDS_E_READONLYWHILEPROGRESSSHOWN 
                            "Kan de eigenschap niet wijzigen of methode %s aanroepen terwijl het venster wordt getoond."
    IDS_E_READONLYWHILEPROGRESSHIDDEN 
                            "Kan de eigenschap niet wijzigen of methode %s aanroepen terwijl het venster is verborgen."
    IDS_E_PLUGLOADFAIL      "Laden van plugin mislukt."
    IDS_E_PLUGERROR         "Plugin fout."
    IDS_E_CACHEERROR        "Verplaatsen van het bestand naar de schijfcache mislukt."
    IDS_E_FILEMASKSYNTAX    "Bestandsmasker syntaxfout."
    IDS_E_NOTCOMPONENT      "Alleen componenten kunnen worden toegevoegd aan de container."
    IDS_E_FORMPUT           "Formulieren kunnen niet worden toegevoegd aan de container."
    IDS_E_SCRIPTABORTED     "Script uitvoering werd afgebroken door de gebruiker."
END

STRINGTABLE
BEGIN
    IDS_ABORTCAPTION        "Script afbreken"
    IDS_ABORTTIP            "Uitgevoerd script afbreken\tCtrl+Break"
    IDS_MAINWINDOWLOCKED    "Sally venster is vergrendeld door de Automatisering plugin. Laat de script uitvoering voltooien a.u.b."
    IDS_ENGINECREATEFAIL    "Initialiseren van het scriptengine mislukt."
END
