// SPDX-FileCopyrightText: 1997-2023 Open Salamander Authors
// SPDX-FileCopyrightText: 2025-2026 Elias Bachaalany
// SPDX-License-Identifier: GPL-2.0-or-later
//
// Romanian (ro-RO) resources for unfat. Translation: Ioan Stefancu, Donca Radu.
// Translate by editing the text and, if needed, the size/position of controls; keep every ID,
// style and control in the same order as the English source (src/plugins/unfat/lang/lang.rc).

#pragma code_page(65001)

#include "..\lang.rh"
#include "winresrc.h"
#include "..\..\unfat.rh2"

LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA

/////////////////////////////////////////////////////////////////////////////
// String tables

STRINGTABLE DISCARDABLE
{
    IDS_PLUGINNAME              "UnFAT"
    IDS_ABOUT                   "Despre Plugin"
    IDS_PLUGIN_DESCRIPTION      "Rasfoieste si extrage imaginile disk de  FAT 12, 16, si 32."

    IDS_ERROR_OPENING_FILE,     "Eroare la deschiderea fisierului ""%s""."
    IDS_ERROR_READING_FILE,     "Eroare la citirea fisierului ""%s""."
    IDS_ERROR_PARSING_FILE,     "Eroare in parcurgerea fisierului ""%s"".\n\n%s"
    IDS_ERROR_BS_CORRUPTED,     "Sectorul de boot e corupt sau acest fisier nu e imagine FAT 12, 16, sau 32."
    IDS_ERROR_READING_DIR,      "Eroare la citirea directorului din fisier ""%s"".\n%s\nSector: %d, Offset: 0x%s\n\nFisierul nu e o imagine valida de FAT 12, 16, sau 32."
    IDS_ERROR_READING_FILE2,    "Eroare la citirea fisierului din fisier ""%s"".\n%s\nCluster: %d\n\nFisierul nu e imagine valida de FAT 12, 16, sau 32."
    IDS_ERROR_WRITE,            "Eroare la scrierea fisierului"
    IDS_ERROR_MBR_UNSUPPORTED   "Fisierul ""%s"" pare sa fie o imagine a intrgului hard disk.\nAsemenea imagini nu sunt suportate de plugin-ul UnFAT."
    IDS_EXTRACTING_ARCHIVE,     "Extrag imaginea - %s FAT"
    IDS_EXTRACTING,             "extrag: %s"

/*
    IDS_CANT_OPEN               "Can not open file."
    IDS_UNKNOW_ERROR            "Unspecified error."
    IDS_UNPACKING_ARCHIVE       "Unpacking ISO Archive."
    IDS_ERROR_UNPACKING         "Error unpacking archive."
    IDS_CANT_HANDLE_FILE        "Can not handle this file."
    IDS_INSUFFICIENT_MEMORY     "Insufficient memory."
    IDS_CANT_CREATE_TEMP        "Can not create temporary directory."
    IDS_CANT_DELETE_TEMP_FILE   "Can not delete temporary file."
    IDS_UNKNOWN_FILE_FORMAT     "Unknown file format or not valid ISO image."
    IDS_CANT_OPEN_FILE          "Can not open this file."
    IDS_ERR_TMP,                "Creation of temporary file has failed."
    IDS_CANT_SET_ATTRS,         "Can not set file attributes."
    IDS_CANT_CREATE_DIR,        "Can not create directory '%s'."
    IDS_MAKEISOHEAD,            "Create file sample for UnISO troubleshooting..."
    IDS_MAKEISOHEAD_TITLE,      "UnISO troubleshooting"
    IDS_MAKEISOHEAD_MSG,        "If you cannot open ISO image or content is incorrect, you can send us first 1MB of this file.\nWe will support this format in new version of UnISO plugin.\n\nPress OK to copy part of ISO image to the temporary directory and focus it in the panel.\nPack this file using Alt+F5 and attach it to a new issue at https://github.com/0xeb/sally/issues.\n\nThank you for helping us to make UnISO plugin better!"
    IDS_YES,                    "Yes"
    IDS_NO,                     "No"
    IDS_PVD_NOT_FOUND,          "Primary Volume Descriptor not found."
    IDS_PVD_CORRUPTED,          "Can not open, Primary Volume Descriptor corrupted."
    IDS_CANT_GET_FILESIZE,      "Can not obtain file size\n\n%s."
    IDS_ERROR,                  "Error"
    IDS_WARNING,                "Warning"
    IDS_CANT_READ,              "Reading problem\n\n"
    IDS_CANT_SEEK_IN_FILE,      "Can not seek in file\n\n"
    IDS_ERROR_OPENING_MULTISESSION, "Some error(s) occured while reading multisession image.\n\nShowing only correctly read sessions."
*/
}
