// SPDX-FileCopyrightText: 1997-2023 Open Salamander Authors
// SPDX-FileCopyrightText: 2025-2026 Elias Bachaalany
// SPDX-License-Identifier: GPL-2.0-or-later
//
// Russian (ru-RU) resources for mmviewer. Translation: Ален Хайруллин, Vasiliy, Игорь Полякофф, Neutron16.
// Translate by editing the text and, if needed, the size/position of controls; keep every ID,
// style and control in the same order as the English source (src/plugins/mmviewer/lang/lang.rc).

#pragma code_page(65001)

#include "..\lang.rh"
#include "winresrc.h"
#include "..\..\mmviewer.rh2"

LANGUAGE LANG_RUSSIAN, SUBLANG_RUSSIAN_RUSSIA

/////////////////////////////////////////////////////////////////////////////
// Dialogs

IDD_ABOUT DIALOGEX 87, 50, 377, 132
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О модуле"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Закрыть",IDCANCEL,319,113,50,14
    ICON            "",IDC_MAIN_ICON,11,9,20,20
    LTEXT           "MMViewer %s - Просмотр мультимедиа в Sally",IDC_ABOUT_TITLE,46,9,326,8
    LTEXT           "dummy",IDC_ABOUT_COPYRIGHT,46,19,177,8,SS_NOPREFIX
    ICON            "",IDC_DISKEXPLORER_ICON,11,42,20,20
    LTEXT           "Библиотеки MPEG, ID3v1,  ID3v2, OGG, WMA, VQF, Tracker",IDC_STATIC_1,46,41,233,8
    LTEXT           "лицензированы из",IDC_STATIC_2,46,51,68,8
    LTEXT           "Disk Explorer Professional",IDC_ABOUT_DEPRO,115,51,200,8
    LTEXT           "© 2003-2016",IDC_STATIC_3,46,67,46,8
    LTEXT           "Tomas Jelinek",IDC_STATIC_4,93,67,60,8
    LTEXT           "Эл. почта:",IDC_STATIC_5,46,78,46,8
    LTEXT           "tomas@tjelinek.com",IDC_ABOUT_EMAIL,93,78,119,8,WS_TABSTOP
    LTEXT           "Сайт:",IDC_STATIC_6,46,89,46,8
    LTEXT           "www.tjelinek.com",IDC_ABOUT_WWW,93,89,118,8,WS_TABSTOP
    LTEXT           "",IDC_STATIC_7,2,107,368,1,SS_ETCHEDHORZ | WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
// String tables

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PLUGIN_DESCRIPTION  "Просмотр сведений о файлах мультимедиа, таких как MP3, OGG, WAV и т.п."
    IDS_ABOUT               "О модуле"
    IDS_PLUGIN_NAME         "Просмотр мультимедиа"
    IDS_OPENED_WINDOWS      "Открыты окна средства просмотра мультимедиа. Вы хотите закрыть их?"
    IDS_ERROR_OPENING       "Ошибка открытия %s.\nФормат файла не поддерживается средством просмотра мультимедиа."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MENU_FILES          "&Файл"
    IDS_MENU_FILES_OPEN     "&Открыть...\tCtr+O"
    IDS_MENU_FILES_EXPORT_HTML     "&Экспорт в HTML...\tCtr+H"
    //IDS_MENU_FILES_EXPORT_XML     "Export to &XML...\tCtr+X"
    IDS_MENU_FILES_PROPERTIES "Сво&йства...\tCtrl+F1"
    IDS_MENU_FILES_EXIT     "В&ыход\tAlt+F4"

    IDS_MENU_FILE_OTHER     "&Другие файлы"
    IDS_MENU_FILE_FIRST     "П&ервый\tShift+Backspace"
    IDS_MENU_FILE_LAST      "П&оследний\tShift+Пробел"
    IDS_MENU_FILE_PREV      "&Предыдущий\tBackspace"
    IDS_MENU_FILE_NEXT      "&Следующий\tПробел"

    IDS_MENU_EDIT           "&Правка"
    IDS_MENU_EDIT_COPY      "&Копировать все\tCtrl+A"
    //IDS_MENU_EDIT_SELECT_ALL "&Select All\tCtrl+A"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MENU_VIEW           "&Вид"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MENU_VIEW_FULLSCREEN "Во весь &экран\tF11"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MENU_OPTIONS        "&Параметры"
    IDS_MENU_OPTIONS_CONFIG "&Настройка..."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MENU_HELP           "&Справка"
    IDS_MENU_HELP_ABOUT     "&О модуле..."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TBTT_COPY           "Копировать все\tCtrl+A"
    IDS_TBTT_OPEN           "Открыть\tCtrl+O"
    IDS_TBTT_EXP_HTML       "Экспорт в HTML\tCtrl+H"
    //IDS_TBTT_EXP_XML        "Export to XML\tCtrl+X"
    IDS_TBTT_FIND           "Найти\tCtrl+F"
    IDS_TBTT_PROPERTIES     "Свойства\tCtrl+F1"
    IDS_TBTT_FULLSCREEN     "Во весь экран\tF11"
    IDS_TBTT_PREV           "Открыть предыдущий\tBackspace"
    IDS_TBTT_NEXT           "Открыть следующий\tSpace"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_VIEWERFILTER        "Файлы мультимедиа (*.mp3;*.mp2;*.ogg;*.vqf;*.wma;*.wav;*.669;*.it;*.mod;*.mtm;*s3m;*.stm;*.xm)|*.mp3;*.mp2;*.ogg;*.wma;*.wav;*.wave;*.vqf;*.669;*.it;*.mod;*.mtm;*s3m;*.stm;*.xm|Все файлы (*.*)|*.*||"
    IDS_HTMLEXPFILTER   "Файлы HTML (*.htm;*.html)|*.htm;*.html|Все файлы (*.*)|*.*||"
    IDS_EXPORTOPEN          "Вы хотите открыть экспортированные сведения?"
    IDS_EXPORTHTML          "&Экспорт в HTML..."
    IDS_AUDIOINFO     "Свойста аудио"
    IDS_HTMLEXT       ".html"
    IDS_PROCESSINGFILES   "Выполняется обработка файлов. Пожалуйста, подождите..."
    IDS_FILESPROCESSED    "%lu из %lu файлов успешно обработаны."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_YES                 "Да"
    IDS_NO                  "Нет"

    IDS_VQF_INFO            "Информация VQF"
    IDS_VQF_COPYRIGHT       "Авторские права"
    IDS_VQF_AUTHOR          "Исполнитель"
    IDS_VQF_TITLE           "Название"
    IDS_VQF_COMMENTS        "Комментарии"
    IDS_VQF_YEAR            "Год"
    IDS_VQF_ALBUM           "Альбом"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_VQF_TRACK           "Номер дорожки"
    IDS_VQF_ORIGFILENAME    "Исходное имя"
    IDS_VQF_LYRC            "LYRC"
    IDS_VQF_WORD            "WORD"
    IDS_VQF_MUSC            "MUSC"
    IDS_VQF_ARNG            "ARNG"
    IDS_VQF_PROD            "PROD"
    IDS_VQF_REMX            "REMX"
    IDS_VQF_CDCT            "CDCT"
    IDS_VQF_SING            "SING"
    IDS_VQF_LABL            "LABL"
    IDS_VQF_NOTE            "NOTE"
    IDS_VQF_PRSN            "PRSN"
    IDS_VQF_BAND            "BAND"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_WMA_INFO            "Информация Windows Media Audio"
    IDS_WMA_BINARY          "двоичный (%luB)"
    IDS_WMA_DURATION        "Длительность"
    IDS_WMA_BITRATE         "Скорость (кбит/с)"
    IDS_WMA_SEEKABLE        "Поиск"
    IDS_WMA_STRIDABLE       "Перемотка"
    IDS_WMA_BROADCAST       "Широковещание"
    IDS_WMA_PROTECTED       "Защищен"
    IDS_WMA_TRUSTED         "Доверенный"
    IDS_WMA_SIGNATURENAME   "Сертификат"
    IDS_WMA_TITLE           "Название"
    IDS_WMA_AUTHOR          "Исполнитель"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WMA_DESCRIPTION     "Описание"
    IDS_WMA_RATING          "Рейтинг"
    IDS_WMA_COPYRIGHT       "Авторские права"
    IDS_WMA_ALBUMTITLE      "Альбом"
    IDS_WMA_TRACK           "Номер дорожки"
    IDS_WMA_PROMOTIONURL    "URL продвижения"
    IDS_WMA_ALBUMCOVERURL   "URL обложки альбома"
    IDS_WMA_GENRE           "Жанр"
    IDS_WMA_YEAR            "Год"
    IDS_WMA_MCDI            "MCDI"
    IDS_WMA_BANNERIMAGETYPE "Тип баннера"
    IDS_WMA_BANNERIMAGEDATA "Изображение баннера"
    IDS_WMA_BANNERIMAGEURL  "URL баннера"
    IDS_WMA_COPYRIGHTURL    "URL авторских прав"
    IDS_WMA_NSCNAME         "Имя NSC"
    IDS_WMA_NSCADDRESS      "Адрес NSC"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WMA_NSCPHONE        "Телефон NSC"
    IDS_WMA_NSCEMAIL        "Эл. почта NSC"
    IDS_WMA_NSCDESCRIPTION  "Описание NSC"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MOD_INFO            "Информация модуля Tracker"
    IDS_MOD_PATTERNS        "Шаблоны"
    IDS_MOD_SAMPLES         "Образцы"
    IDS_MOD_INSTRUMENTS     "Инструменты"
    IDS_MOD_TITLE           "Название"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OGG_INFO            "Информация OGG Vorbis"
    IDS_OGG_VERSION         "Версия"
    IDS_OGG_BITRATE         "Номинальная скрость (кбит/с)"
    IDS_OGG_FREQUENCY       "Частота (Гц)"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OGG_CHANNELS        "Каналы"
    IDS_OGG_COPYRIGHT       "Авторские права"
    IDS_OGG_VERSIONS        "Версия"
    IDS_OGG_CONTACT         "Связь"
    IDS_OGG_ISRC            "ISRC"
    IDS_OGG_AUTHOR          "Автор"
    IDS_OGG_TITLE           "Название"
    IDS_OGG_GENRE           "Жанр"
    IDS_OGG_COMMENTS        "Комментарии"
    IDS_OGG_DATE            "Дата"
    IDS_OGG_ALBUM           "Альбом"
    IDS_OGG_TRACK           "Номер дорожки"
    IDS_OGG_PERFORMER       "Исполнитель"
    IDS_OGG_ORGANIZATION    "Организация"
    IDS_OGG_DESCRIPTION     "Описание"
    IDS_OGG_DETAILS         "Подробности"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_OGG_LOCATION        "Размещение"
    IDS_OGG_SAMPLES         "Образцы"
    IDS_OGG_LENGTH          "Длительность"
    IDS_OGG_ADDINFO         "Дополнительно"
    IDS_OGG_DISCID          "ИД диска"
    IDS_OGG_VENDOR          "Поставщик"
    IDS_OGG_STDTAGS         "Стандартные тэги"
    IDS_OGG_OTHERTAG        "Прочие тэги"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MP4_AACINFO         "Информация AAC"
    IDS_MP4_BITRATE         "Скорость (бит/с)"
    IDS_MP4_SAMPLINGRATE    "Частота дискретизации (Гц)"
    IDS_MP4_CHANNELS        "Каналы"
    IDS_MP4_DURATION        "Длительность"
    IDS_MP4_AACHEADERTYPE   "Тип заголовка"
    IDS_MP4_MPEGVERSION     "Версия MPEG"
    IDS_MP4_OBJTYPE_MAIN    "MAIN"
    IDS_MP4_OBJTYPE_LC      "LC"
    IDS_MP4_OBJTYPE_SSR     "SSR"
    IDS_MP4_OBJTYPE_LTP     "LTP"
    IDS_MP4_HEADTYPE_RAW    "RAW"
    IDS_MP4_HEADTYPE_ADIF   "ADIF"
    IDS_MP4_HEADTYPE_ADTS   "ADTS"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_WAV_INFO            "Информация WAVE"
    IDS_WAV_BITRATE         "Скорость (бит/с)"
    IDS_WAV_FREQUENCY       "Частота (Гц)"
    IDS_WAV_MODE            "Режим"
    IDS_WAV_COMPRESSION     "Сжатие"
    IDS_WAV_STEREO          "Стерео"
    IDS_WAV_MONO            "Моно"
    IDS_WAV_LENGTH          "Длительность"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MP3_MP3VERSION      "Версия"
    IDS_MP3_MP3VERSIONFMT   "MPEG %u.%u Layer %s"
    IDS_MP3_BITRATE         "Скорость (кбит/с)"
    IDS_MP3_FREQUENCY       "Частота (Гц)"
    IDS_MP3_MODE            "Режим"
    IDS_MP3_COPYRIGHT       "Авторские права"
    IDS_MP3_ORIGINAL        "Оригинал"
    IDS_MP3_AUTHOR          "Исполнитель"
    IDS_MP3_TITLE           "Название"
    IDS_MP3_GENRE           "Жанр"
    IDS_MP3_COMMENTS        "Комментарии"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MP3_YEAR            "Год"
    IDS_MP3_ALBUM           "Альбом"
    IDS_MP3_EMPHASIS        "Акцент"
    IDS_MP3_ID3TAGV         "Тэг ID3v%u.%u"
    IDS_MP3_MP3INFO         "Информация MPEG Audio"
    IDS_MP3_FRAMES          "Кадров"
    IDS_MP3_LENGTH          "Длительность"
    IDS_MP3_AVERAGE         "Переменная, в среднем "
    IDS_MP3_TRACK           "Номер дорожки"
    IDS_MP3_DASH            "-"
    IDS_MP3_5015MS          "50/15 мс"
    IDS_MP3_CCITTJ17        "CCITT J 17"
    IDS_MP3_QUESTIONMARK    "?"
    IDS_MP3_STEREO          "Стерео"
    IDS_MP3_JSTEREO         "Объединенное стерео"
    IDS_MP3_DCHANNEL        "Двухканальный"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MP3_SCHANNEL        "Одноканальный"
    IDS_MP3_COMPOSER        "Композитор"
    IDS_MP3_ORIGARTIST      "Ориг. художник"
    IDS_MP3_ENCODEDBY       "Закодирован"
    IDS_MP3_URL_COMINFO     "URL коммерческой информации"
    IDS_MP3_URL_COPYRIGHT   "URL информации об авторских правах"
    IDS_MP3_URL_OFFICIAL    "Официальный URL аудиофайла"
    IDS_MP3_URL_ARTIST      "Официальный URL художника"
    IDS_MP3_URL_ASOURCE     "Официальный URL источника звука"
    IDS_MP3_URL_IRADIO      "Официальный URL интернет-радиостанции"
    IDS_MP3_URL_PAYMENT     "URL оплаты"
    IDS_MP3_URL_PUBLISHER   "Официальный URL издателя"
    IDS_MP3_PUBLISHER       "Издатель"
    IDS_MP3_USERURL         "URL потребителя"
    IDS_MP3_USERTEXT        "Текст потребителя"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MMV_OOM             "Недостаточно памяти"
    IDS_MMV_UNKNOWN_FILE    "Неизвестный файл"
    IDS_MMV_OPEN_ERROR      "Ошибка открытия"
    IDS_MMV_READ_ERROR      "Ошибка чтения"
    IDS_MMV_WRITE_ERROR     "Ошибка записи"
    IDS_MMV_SEEK_ERROR      "Ошибка поиска"
    IDS_MMV_CORRUPTED_FILE  "Файл поврежден"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MMV_EXTENSION_ERROR "Не удается инициализировать расширения Windows"
END
